# Effy (if the file, dir or link is not, then redirect to index.php)
Options -MultiViews

RewriteEngine on

RewriteBase /change/this

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule (.*) index.php/$1 [NC,L]

